    <br>
    <div class="row">
        <br>


        <div class="col-lg-1"></div>
        <div class="col-lg-10">
        <nav>
            <ul class="pagination">
                {% if contacts.has_previous %}
                     <li>
                    <a href="?id={{question_id}}&page={{ contacts.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for page in pages %}
                {% if current != page %}
                        <li><a href="?id={{question_id}}&page={{ page }}">{{ page }}</a>
                        </li>
                    {% endif %}
                    {% if current == page %}
                        <li class="active"><a href="?id={{question_id}}&page={{ page }}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if contacts.has_next %}
                <li>
                    <a href="?id={{question_id}}&page={{ contacts.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        </div>
        <div class="col-lg-1"></div>
    </div>